*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    background-image: url("https://cdn.wallpapersafari.com/48/55/v3uCfB.jpg");
    background-repeat: no-repeat, repeat;
}
.container-fluid{
    height: 150px;
    border-radius: 20px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-top: 25px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgb(33, 107, 11);
}
.row{
    margin-top: 50px;
}
li{
    padding-top: 20px;
    font-size: 20px;
    color: white;
}