.container-fluid{
    background-color:rgb(63, 61, 61);
    padding-top: 20px;
    border-radius: 5px;
    color: white;
}
h2{
    font-weight: bold;
}
.text-center{
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgb(33, 107, 11);
}